body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    box-sizing: border-box;
    margin: 0;
}

header {
    padding: 80px 77px 80px 226px;
}

.logo::before {
    content: url(../images/B.png);

}

.logo {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    text-decoration: none;

}

nav a {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 18.75px;
    text-decoration: none;

}
nav ul {
    list-style: none;

}

.search {
    width: 224px;
    height: 40px;
    padding: 5px 10px;

    border-radius: 100px;
    border: none;

    background-color: rgba(31, 41, 55, 0.6);
    font-family: Roboto;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;

}

#topic {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    width: 180px;
    margin: 0 auto 14px;
    /* margin-bottom: 14px; */

}

h1 {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    top: 210px;
    width: 525px;
    margin: 0 auto 30px;
}


.auth_img {
    width: 50px;
    height: 50px;
}

.author {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    width: 214px;
    margin: 0 auto 28px;
}

#auth_role {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

}

.heroImage {
    width: 896px;
    height: 594px;
    margin: 0 0 69px 0;

    border-radius: 5px;

}

.heroSection {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    width: 708px;
    height: 101px;
    margin: 0 auto 185px;

}

section {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    width: 708px;
    margin: 0 auto 103px;
}

section span {
    text-decoration: underline;

}

.footer {
    background-color: #121928;
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

}
